# Add your Bot Token and API settings below.
# Rename this file to `.env` when executing locally (do not commit `.env`!).
DISCORD_BOT_TOKEN=your_token_here_please_replace
API_BASE_URL=http://localhost:5000/api
